{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'alert.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  <div className="home-cards">
    <div class = "card">
       <div class="about-content"> 
    <section class="skewbox">
     <div class="content">

  <form method ="post" action="">
      {% csrf_token %}
      <i id="danger" class="fa fa-times-circle" style="font-size:88px;color:red"></i>
      <h1>Are you sure<h1><br>

      <p>Do you really want to delete these records? This process cannot be undone</p>

      <div class="action">

      <button id="cancel"><a href="{% url 'donor_list' %}">Cancel</a></button>
         <input class="btn btn-danger" type="submit" value="Delete" />
        </div>
      
   
  </form>
</div>
         
</section>

</div>
</div>
</div>
</body>
</html>
