{% extends "navbar.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="{% static 'list.css' %}">
        <link rel="stylesheet" href="{% static 'nav.css' %}">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CRoboto+Slab:400,700%7CMaterial+Icons" /> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"> 
      </head>
<body>


    <h3>Donors List</h3>
            <table id="list">
                <thead>
            <tr>
            <th>Image</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>age</th>
            <th>Phonenumber</th>
            <th>Blood Group
                <select name="Blood Groups" id="blood-groups">
                <option value="AB-">AB-</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="A-">A-</option>
                <option value="O-">O-</option>
                <option value="B+">B+</option>
                <option value="A+">A+</option>
                <option value="O+">O+</option>
            </select></th>
            <th>Town</th>
            <th>Profile</th>
            <th>Edit</th>
            <th>Delete</th>
            </tr>
        </thead>
        <tbody>

    {%for donor in donors%}
    <tr>
    {% if donor.image %}
            <td><img src="{{donor.image.url}}" width="45"></td>
          {% endif %}
          <td>{{donor.first_name}}</td>
          <td>{{donor.last_name}}</td>
          <td>{{donor.age}}</td>
          <td>{{donor.phone_number}}</td>
          <td>{{donor.blood_group}}</td>
          <td>{{donor.town}}</td>
          <td><a href="{% url 'donor_profile' id=donor.id %}">Profile</a></td>
          <td><a href="{% url 'edit_donor' id=donor.id %}"><i id="edit" class="material-icons" >edit</i></a></td>
          <td><a href="{% url 'delete_donor' id=donor.id %}"><i id="delete" class="material-icons" >close</i></a></td>
          </tr>
{% endfor %}

        </tbody>
    </table>
    <footer>
        <p>&copy;Redswift2021</p>
    </footer>
{% endblock %}
</body>
</html>



