<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
    <div class="column">
    <div class="card">
        <img src="{{donor.image.url}}" width="45">
            <div class="container2">
            <h2>{{donor.first_name}}</h2>
            <h2>{{donor.last_name}}</h2>
            <h2>{{donor.phone_number}}</h2>
            <h2>{{donor.age}}</h2>
            <h2>{{donor.town}}</h2>
            <h2>{{donor.county}}</h2>
             </div>
          </div>
         </div>
</body>
</html>