{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- <link rel="stylesheet" href="{% static 'list.css' %}">  -->
         <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CRoboto+Slab:400,700%7CMaterial+Icons" /> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"> 
      </head>
<body>
    <style>
#list {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #list td, #list th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #list tr:nth-child(even){background-color: #f2f2f2;}
  
  th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#FFEBEA;;
    color: black;

  }
  h1{
      text-align: center;
  }
    </style>
  
    <table class="table">
        <h1> Pending Appeals</h1>
        <thead>
            <tr>
                <table id="list">
                <th>Contact Person</th>
                <th>Contact Phonenumber</th>
                <th>Recipient Firstname</th>
                <th>Recipient Last Name</th>
                <th>Recipient Age</th>
                <th>Blood Group</th>
                <th>Pints</th>
                <th>Location</th>  
                <th>Get Donor</th>  
                <th>Edit Donor</th> 
                <th>Delete Donor</th> 

               
            </tr>
        </thead>
        <tbody>
            <tr>

    {% for recipient in recipients %}
    <tr>
        <!-- <td class="text-center">1</td> -->
        <td>{{recipient.contact_person}}</td>
        <td>{{recipient.contactperson_phonenumber}}</td>
        <td>{{recipient.first_name}}</td>
        <td>{{recipient.last_name}}</td>
        <td>{{recipient.age}}</td>
        <td>{{recipient.blood_group}}</td>
        <td>{{recipient.blood_pints}}</td>
        <td>{{recipient.location}}</td>

        <!-- <td><button type="button" rel="tooltip" class="btn btn-info"></td> 
            <i class="material-icons">person</i>
        </button> -->

        <td><a href="{%url 'edit_recipient' id=recipient.id%}"><i class="material-icons" >person</i></a></td>

        <td><a href="{%url 'edit_recipient' id=recipient.id%}"><i class="material-icons" >edit</i></a></td>

        <td><a href="{%url 'delete_recipient' id=recipient.id%}"><i id="delete" class="material-icons" >close</i></a></td>
    </tr>    
    {%endfor%}
           
        </tbody>
    </table>
    <footer>
        <p>&copy;Redswift2021</p>
    </footer>

</body>
</html>
