{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="76x76" href="https://appsrv1-147a1.kxcdn.com/material-dashboard-pro/img/apple-icon.png">
        <link rel="icon" type="image/png" href="https://appsrv1-147a1.kxcdn.com/material-dashboard-pro/img/favicon.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>RedSwift Donor List</title>
        <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CRoboto+Slab:400,700%7CMaterial+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <!-- CSS Files -->
        <link rel="stylesheet" href="{% static 'list.css' %}">
        <link href="https://appsrv1-147a1.kxcdn.com/material-dashboard-pro/css/material-dashboard.min.css?v=2.1.2" rel="stylesheet" />
        <link href="https://appsrv1-147a1.kxcdn.com/material-dashboard-pro/demo/demo.css" rel="stylesheet" />
        <!-- Specific Page CSS goes HERE  -->  
      </head>
<body>
  
    <table class="table">
        <h1>List Of Pending Appeals</h1>
        <thead>
            <tr>
                <th>Contact Person</th>
                <th>Contact Phonenumber</th>
                <th>Recipient Firstname</th>
                <th>Recipient Last Name</th>
                <th>Recipient Age</th>
                <th>Blood Group</th>
                <th>Pints</th>
                <th>Location</th>  
                <th>Get Donor</th>  
                <th>Edit Donor</th> 
                <th>Delete Donor</th> 

               
            </tr>
        </thead>
        <tbody>
            <tr>

    {% for recipient in recipients %}
    <tr>
        <!-- <td class="text-center">1</td> -->
        <td>{{recipient.contact_person}}</td>
        <td>{{recipient.contactperson_phonenumber}}</td>
        <td>{{recipient.first_name}}</td>
        <td>{{recipient.last_name}}</td>
        <td>{{recipient.age}}</td>
        <td>{{recipient.blood_group}}</td>
        <td>{{recipient.blood_pints}}</td>
        <td>{{recipient.location}}</td>

        <!-- <td><button type="button" rel="tooltip" class="btn btn-info"></td> 
            <i class="material-icons">person</i>
        </button> -->

        <td><a href="{%url 'edit_recipient' id=recipient.id%}"><i class="material-icons" >person</i></a></td>

        <td><a href="{%url 'edit_recipient' id=recipient.id%}"><i class="material-icons" >edit</i></a></td>

        <td><a href="{%url 'delete_recipient' id=recipient.id%}"><i id="delete" class="material-icons" >close</i></a></td>

       
    </tr>    
    {%endfor%}
           
        </tbody>
    </table>
    <footer>
        <p>&copy;Redswift2021</p>
    </footer>

</body>
</html>
