{% extends "navbar.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="{% static 'list.css' %}">  
        <link rel="stylesheet" href="{% static 'nav.css' %}">  
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CRoboto+Slab:400,700%7CMaterial+Icons" /> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"> 
       
      </head>
<body>
    <h3> Appeals</h3>
    <table class="table">
    
        <thead>
            <tr>
                <table id="list">
                <th>Contact Person</th>
                <th>Contact Phonenumber</th>
                <th>Recipient Firstname</th>
                <th>Recipient Last Name</th>
                <th>Recipient Age</th>
                <th>Blood Group
                    <select name="Blood Groups" id="blood-groups">
                    <option value="AB-">AB-</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="A-">A-</option>
                    <option value="O-">O-</option>
                    <option value="B+">B+</option>
                    <option value="A+">A+</option>
                    <option value="O+">O+</option>
                </select></th>
                <th>Pints</th>
                <th>Location</th>  
                <th>Get Donor</th>  
                <th>Edit Donor</th> 
                <th>Delete Donor</th>  
            </tr>
        </thead>
        <tbody>
            <tr>

    {% for recipient in recipients %}
    <tr>
        
        <td>{{recipient.contact_person}}</td>
        <td>{{recipient.contactperson_phonenumber}}</td>
        <td>{{recipient.first_name}}</td>
        <td>{{recipient.last_name}}</td>
        <td>{{recipient.age}}</td>
        <td>{{recipient.blood_group}}</td>
        <td>{{recipient.blood_pints}}</td>
        <td>{{recipient.location}}</td>

       
        <td><a href="{%url 'edit_recipient' id=recipient.id%}"><i id="person" class="material-icons" >person</i></a></td>

        <td><a href="{%url 'edit_recipient' id=recipient.id%}"><i id="edit" class="material-icons" >edit</i></a></td>

        <td><a href="{%url 'delete_recipient' id=recipient.id%}"><i id="delete" class="material-icons">delete</i></a></td>
    </tr>    
    {%endfor%}
           
        </tbody>
    </table>
    <footer>
        <p>&copy;Redswift2021</p>
    </footer>
    
{% endblock  %}
</body>
</html>

