{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        input{
            padding:5px;
        }
        label{
            text-size-adjust: 2px;
        }
        form{
           padding: 0px;
           margin:0px;
        }
        li{
            font-size: 10px;
            margin: 0px;
        }
        ul{
            font-size: 10px;
            margin: 0px;
        }
        p{font-size: small;
        text-align: justify;
    }
h3{
    text-align:  left;
}
  </style>
    <div class="login-section">
        <div id="loginabt">
          <section class="skewbox">
            <img src= {%  static 'images/logo.png' %}>
            <div class="content">
          <form method="POST" action="" enctype="multipart/form-data">
              {%csrf_token%}
              <section class="h-100 bg-dark">
                      <h3 id="header">Recovery email sent</h3><br>
                    <p>We've emailed you instructions for setting your password,<br> if an account exists with the email you entered.<br> You should receive them shortly.<br>If you don't receive an email,<br> please make sure you've entered the address you registered with,<br> and check your spam folder.</p>
              </section>
          </form>
      </div>
      <section>
  </div>
  </div>
</body>
</html>