.material-icons{
    color: black;
    text-align: center;
}
#delete{
    color: red;
    align-items: center;
}
tr td{
    text-align: center;
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
   
}
th, td {
    padding: 15px;
    text-align: left;
}
th{
    color: white;
    background-color:#1139AA ;
   
}
h1{
    color:#1139AA;  
    text-align: center;
}
table{
   margin-left: auto;
   margin-right: auto;
}

#pic{
    width: 20%;
   
    }
#button{
    background-color:#1139AA;
    border: transparent;
    padding: 10px;
    border-radius: 5px;
            
    }
#button a{
    text-decoration: none;
    color: blanchedalmond;
        }
   table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
th{
    color: white;
    background-color:#1139AA ;
   
}
h1{
    color:#1139AA;  
    text-align: center;
}
table{
   margin-left: auto;
   margin-right: auto;
}

#pic{
    width: 20%;
   
    }
#button{
    background-color:#1139AA;
    border: transparent;
    padding: 10px;
    border-radius: 5px;
            
    }
#button a{
    text-decoration: none;
    color: blanchedalmond;
 }
 footer{
     text-align: center;
 }
   